<div sd-settings-view>
    <div class="header">
        <div class="container">
            <h2 translate>Categories</h2>
            <button class="btn btn-info pull-right" ng-click="edit({})">
                <i class="icon-plus-sign icon-white"></i> <span translate>Add Category</span>
            </button>
        </div>
    </div>

    <div class="content">
        <div class="category-table">
            <ul class="table-header">
                <li>
                    <div class="row-wrapper">
                        <div class="name">{{ 'Name' | translate }}</div>
                        <div class="code">{{ 'Code' | translate }}</div>
                        <div class="description">{{ 'Description' | translate }}</div>
                    </div>
                </li>
            </ul>
            <ul class="table-body">
                <li ng-repeat="category in categories">
                    <div class="row-wrapper">
                        <div class="name">{{category.name}}</div>
                        <div class="code">{{category.code}}</div>
                        <div class="description">{{category.description}}</div>
                    </div>
                    <div class="action">
                        <ul class="item-functions">
                            <li>
                                <button ng-click="edit(category)"><i class="icon-pencil"></i></button>
                            </li>
                            <li>
                                <button ng-click="remove(category)"><i class="icon-trash"></i></button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div sd-modal-view data-model="editCategory">
        <div class="modal-header"> <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
            <h3 translate ng-show="editCategory._id">Edit Category {{ editCategory.name }}</h3>
            <h3 translate ng-hide="editCategory._id">Add New Category</h3>
        </div>

        <div class="modal-body">
            <form name="editForm" ng-submit="save(editCategory)">
                <fieldset>
                    <div class="field">
                        <label for="category-name" translate>Category Name</label>
                        <input type="text" id="category-name" name="category_name" ng-model="editCategory.name"
                               required data-unique-field="name" data-exclude="editCategory" sd-category-unique>
                        <i ng-show="editForm.category_name.$error.required" class="required-asteriks">*</i>
                        <div ng-show="editForm.category_name.$error.unique">
                            <i class="icon-info-sign-warning"></i>
                            <span translate>Sorry, a category with this code already exists.</span>
                        </div>
                    </div>

                    <div class="field">
                        <label for="category-code" translate>Category Code</label>
                        <input type="text" id="category-code" name="category_code" ng-model="editCategory.code"
                               required ng-pattern="/^[a-zA-Z]{1}$/"
                               data-unique-field="code" data-exclude="editCategory"
                               sd-category-unique>
                        <i ng-show="editForm.category_code.$error.pattern">*</i>
                        <div ng-show="editForm.category_code.$error.pattern">
                            <i class="icon-info-sign-warning"></i>
                            <span translate>Please use only letters (a-zA-Z). Only one character allowed.</span>
                        </div>
                        <div ng-show="editForm.category_code.$error.unique">
                            <i class="icon-info-sign-warning"></i>
                            <span translate>Sorry, a category with this code already exists.</span>
                        </div>
                    </div>

                    <div class="field">
                        <label for="category-description" translate>Category Description</label>
                        <input type="text" id="category-description" name="category_description" ng-model="editCategory.description">
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
            <button class="btn btn-primary" ng-click="save(editCategory)" ng-disabled="!editForm.$valid" translate>Save</button>
        </div>
    </div>
</div>